/* ---------------------------------------------------------- Start of parallax styling ---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.parallax {
    height: 100%;
    min-width: 500px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    margin-top: -10px;
}

.pimg1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('media/parallax1.jpg');
    min-height: 100vh;
}
.pimg2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('media/parallax2.jpg');
    min-height: 100vh;
}
.pimg3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('media/parallax3.jpg');
    min-height: 100vh;
}

.pimg4 {
    background-image: url('media/parallax4.jpg');
    min-height: 100vh;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pbox {
  position: absolute;
  display: flex;
  justify-content: center;
  top: calc(50% - 100px);
  width: 100%;
}

.ptext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--col1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #ddd;
  background-color: #ddd;
  opacity: 0.8;
  
}

.ptext h5 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 8px;
  line-height: 1em;
}

.ptext h6 {

}

.section {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding: 50px 80px;
  background-color: var(--col1);
}

/* https://css-tricks.com/fancy-image-decorations-single-element-magic/ */
.stext  {
  max-width: 1200px;
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #ddd;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%, #ddd 0);
}

.stext p {
  color: #D7D7D7;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
}

@media (max-width:568px){
    .pimg1, .pimg2, .pimg3 {
        background-attachment:scroll;
    }
}

/* --------------------------------------------- Cards ----------------------------------------------  */

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
  justify-content: center;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 32%;
  min-width: 300px;  
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {  
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  body {
    align-items: flex-start;  
    overflow: auto;
  }
  
  #cards {    
    max-width: 1000px;
    padding: 10px 0px;
  }
  
  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 180px;
  }
  
  .card-image {
    height: 80px;  
  }
  
  .card-image > i {
    font-size: 3em;
  }
    
  .card-info-wrapper {
    padding: 0px 10px;
  }
  
  .card-info > i { 
    font-size: 0.8em; 
  }
  
  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}