/*
- Mobile: 375px
- Desktop: 1440px
*/
:root {
    --light:hsl(0, 0%, 100%);
    --gray: hsl(212, 45%, 89%);
    --blue:hsl(220, 15%, 55%);
    --dark:hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--gray);
}

.wrappper {
    width: 100%;
    min-width: 375px;
}

.qr-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--light);
}

.qr-img {
    background-color: var(--blue);
    width: 100px;
    aspect-ratio: 1;
}

.qr-code {

}

.qr-text {

}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}